EDA descripción.
 * Descrición de dataset
     - Cuantas columnas tiene
     - el tipo de las columnas
     - cuantos null tiene cada columna
 * Descripción de la columna objetivo
     - Cantidad de etiquetas
     - distribución de los etiquetados

### Imports

In [14]:
import findspark
import pandas as pd
from optimus import Optimus
from pyspark.sql import SparkSession

#### Start Spark

In [2]:
findspark.init()
spark = SparkSession.builder.appName('meetUp_optimus').getOrCreate()

#### Start Optimus

In [3]:
op = Optimus()

#### Read csv

In [5]:
df_items_meli = op.read.csv(
    '../data/train.csv',
    header=True
)

#### Dataset

¿Cuantas columnas tiene este dataset?

In [27]:
columns_df = df_items_meli.columns
print(f'Este Dataset tiene {len(columns_df)} columnas')
print(f'Son: {columns_df}')

Este Dataset tiene 4 columnas
Son: ['title', 'label_quality', 'language', 'category']

##### Tipos de las columnas

In [25]:
df_items_meli.printSchema()

root
 |-- title: string (nullable = true)
 |-- label_quality: string (nullable = true)
 |-- language: string (nullable = true)
 |-- category: string (nullable = true)

In [13]:
nulls_in_col = df_items_meli.cols.count_na(columns_df)

Including 'nan' as Null in processing 'title'
Including 'nan' as Null in processing 'label_quality'
Including 'nan' as Null in processing 'language'
Including 'nan' as Null in processing 'category'

In [18]:
pd.Series(
    nulls_in_col,
    name='Nulls'
)

title             1
label_quality    25
language         25
category         25
Name: Nulls, dtype: int64

Los nulls se tienen que eliminar

#### Columna target

In [35]:
df_items_meli.select('category').limit(100).distinct().table(10)

In [39]:
df_items_meli.groupby('category').count().sort('count', ascending=False).table(10)

In [43]:
groupby_category_items = df_items_meli.groupby('category').count().sort('count', ascending=False).cache()

In [44]:
groupby_category_items

DataFrame[category: string, count: bigint]

In [41]:
groupby_category_items.show()

+------------------+-----+
|          category|count|
+------------------+-----+
|             PANTS|35973|
|     COFFEE_MAKERS|35104|
|    BABY_CAR_SEATS|34163|
| MUSICAL_KEYBOARDS|33222|
|        MATTRESSES|32967|
|     PUREBRED_DOGS|32928|
|            RANGES|32645|
|     REFRIGERATORS|32635|
|MOTORCYCLE_JACKETS|32615|
|     HAIR_CLIPPERS|32372|
|            SHORTS|31685|
|         SUITCASES|31580|
|      MEMORY_CARDS|31564|
|             WINES|31399|
|     ROLLER_SKATES|31371|
|    BABY_STROLLERS|31353|
|   SEWING_MACHINES|31129|
|   ELECTRIC_DRILLS|30820|
|     KITCHEN_SINKS|30635|
|       WALL_CLOCKS|30600|
+------------------+-----+
only showing top 20 rows

In [54]:
groupby_category_items.limit(30).plots.bar(x='category', y='count')

AttributeError: 'DataFrame' object has no attribute 'plots'

In [47]:
groupby_category_items?

Type:        DataFrame
String form: DataFrame[title: string, label_quality: string, language: string, category: string]
File:        /opt/conda/lib/python3.7/site-packages/pyspark/sql/dataframe.py
Docstring:
A distributed collection of data grouped into named columns.

A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
and can be created using various functions in :class:`SparkSession`::

    people = spark.read.parquet("...")

Once created, it can be manipulated using the various domain-specific-language
(DSL) functions defined in: :class:`DataFrame`, :class:`Column`.

To select a column from the data frame, use the apply method::

    ageCol = people.age

A more concrete example::

    # To create DataFrame using SparkSession
    people = spark.read.parquet("...")
    department = spark.read.parquet("...")

    people.filter(people.age > 30).join(department, people.deptId == department.id) \
      .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})

.. versionadded:: 1.3

###  Create a Dataframe

In [6]:
from pyspark.sql.types import *
from datetime import date, datetime

df = op.create.df(
    [
        ("names", "str", True), 
        ("height(ft)","int", True), 
        ("function", "str", True), 
        ("rank", "int", True), 
        ("age","int",True),
        ("weight(t)","float",True),
        ("japanese name", ArrayType(StringType()), True),
        ("last position seen", "str", True),
        ("date arrival", "str", True),
        ("last date seen", "str", True),
        ("attributes", ArrayType(FloatType()), True),
        ("DateType"),
        ("Tiemstamp"),
        ("Cybertronian", "bool", True), 
        ("NullType", "null", True),
    ],
    [
        ("Optim'us", 28, "Leader", 10, 5000000, 4.3, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True,
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True,
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True,
         None),
        ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True, None),
        ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, None),
        ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, None),

    ], infer_schema = True).h_repartition(1)

In [7]:
df.table()

In [8]:
# This is a custom function
def func(value, arg):
    return "this was a number"
    
new_df = df\
    .rows.sort("rank","desc")\
    .withColumn('new_age', df.age)\
    .cols.lower(["names","function"])\
    .cols.date_transform("date arrival", "yyyy/MM/dd", "dd-MM-YYYY")\
    .cols.years_between("date arrival", "dd-MM-YYYY", output_cols = "from arrival")\
    .cols.remove_accents("names")\
    .cols.remove_special_chars("names")\
    .rows.drop(df["rank"]>8)\
    .cols.rename(str.lower)\
    .cols.trim("*")\
    .cols.unnest("japanese name", output_cols="other names")\
    .cols.unnest("last position seen",separator=",", output_cols="pos")\
    .cols.drop(["last position seen", "japanese name","date arrival", "cybertronian", "nulltype"])

In [9]:
new_df.table()

In [18]:
def func(value, args):
    return value + args[0] + args[1]

df.cols.apply("height(ft)",func,"int", [1,2]).table()

In [17]:
op.output("html")
op.output("ascii")

## Data profiling

##### read Meteorite Landings CSV

In [19]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/Meteorite_Landings.csv").h_repartition()

In [20]:
op.profiler.run(df, "mass (g)", infer=False)

Including 'nan' as Null in processing 'name'
Including 'nan' as Null in processing 'nametype'
Including 'nan' as Null in processing 'recclass'
Including 'nan' as Null in processing 'fall'
Including 'nan' as Null in processing 'year'
Including 'nan' as Null in processing 'GeoLocation'

In [21]:
op.profiler.run(df, "year", infer=True)

Including 'nan' as Null in processing 'name'
Including 'nan' as Null in processing 'nametype'
Including 'nan' as Null in processing 'recclass'
Including 'nan' as Null in processing 'fall'
Including 'nan' as Null in processing 'year'
Including 'nan' as Null in processing 'GeoLocation'